//= require_tree

 @import "bootstrap";

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

$theme-colors: (
  "primary": #781F41,
  "secondary": #4281A4,
  "complement": #748386
);