//= require_tree

@import "bootstrap/scss/bootstrap";
@import 'slick';
@import 'slick-theme';
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto', sans-serif;
}
.nav-link {
  
  font-weight: 500;
}

$theme-colors: (
  "primary": #781F41,
  "secondary": #4281A4,
  "complement": #748386
);