// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.full {
    width: 100%;
    height: auto;
}

.home-banner {
    
    width: 100% ;
    height: auto;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    .llamada-accion {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 25%;
        left: 5%;
        background-color: white;
        opacity: 0.9;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 30px;
        border-radius:10px;
        width: 90%;
        height: auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
       
        .banner-titulo {
            font-size: 3rem;
            font-weight: 900;
           
        }
    
        .sub-titulo {
            color: gray;
            font-size: 1rem;
            font-weight: 500;
        }
    }
    
    .boton-accion {
        position: absolute;
        top: 50%;
        left: 45%;
    }

    .video-home {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
    // .main-img-banner {
    //     width: 100%;
    //     max-height: 100%;
    //     object-fit: cover;
    // }
}

.nav-link {
    color: black !important;
}

#consumibles {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("index/toner.jpg");
}
#tienda {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("index/tienda-en-linea.jpg");
}
#servicios {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("index/servicios-impresion.jpg");
}
#tecnico {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("index/servicio-tecnico.jpg");
}

.categorias {

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;

    .card-category {
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 2px;
    }

    // .card-category:hover {
    //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    //   }
}

.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #781F41;
-webkit-transform: scaleY(0);
transform: scaleY(0);
-webkit-transform-origin: 50% 0;
transform-origin: 50% 0;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
-webkit-transform: scaleY(1);
transform: scaleY(1);
-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@-webkit-keyframes hvr-buzz {
50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
}
100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
}
}
@keyframes hvr-buzz {
50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
}
100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
}
}
.hvr-buzz {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
color: yellow;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
-webkit-animation-name: hvr-buzz;
animation-name: hvr-buzz;
-webkit-animation-duration: 0.15s;
animation-duration: 0.15s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

.presentacion {
height: auto;
object-fit: contain;
display: flex;
padding-top: 8vh;
width: 100%;

.imagen-presentacion {
    
    
    .wrapper {
        position: relative;
    }

    img {
    
    z-index: -1;
    width: 100%;
    height: auto;
    }
    .product-card {
        display: flex;
        justify-content: center;
        align-items: center;
        
        bottom: 30%;
        left: 10%;
        background-size: initial;
        background-position: center;
        background-repeat: no-repeat;
        width: 25vw;
        height: 8vh;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 2px;
        //
        position: absolute;
        z-index: 1;
        //
        background-color: white;

        img {
        padding-left: 1vw;
        padding-right: 1vw;
        }
        
    }
}
    
.texto-presentacion {
padding: 5vh;
h1 {
    font-size: 3em;
}
span {
        color: #781F41;
    }
p{
    color: black;
    font-size: 1.5em;
}

}
}

.clientes-fixsell {
    width: 100%;
    padding-bottom: 0vh;
    img {
        width: 20px;
    }
    
}

.clientes {
    padding: 0vh 5px 0vh 5px;
    background-color: #172a3a;
    width: 100%;
    margin: 0 !important;
    img {
        
        transition: opacity .2s ease-in;
        max-width: 150px;
        height: auto;
    }

    #semex {
        max-width: 50px;
        height: auto;
    }

    img:hover {
        opacity: .8;
    }
}

.titulo-clientes {
    padding: 5vh 5vw 5vh 5vw;
    h4{
        color: #fff;
        text-align: center;
        font-size: 18px;
    }
    
}
.titulo {
    padding-top: 5vh;
    padding-left: 5vw;
    .titulo-columna {
        padding: 5vh 5vw 5vh 5vw;
        h1 {
            text-align: center;
            font-size: 4em;
        }
    }
    
}

.acerca-de-nosotros {
    background-color: #FAF9F9;

    
    .contenido {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 10vh;
        .misiones-visiones{
            padding-right: 4vw;
            .mision {
                span {
                    color: #781F41;
                }
            }
            .vision {
                margin-top: 3vh;
                span {
                    color: #781F41;
                }
            }
        }
        
        .imagen-quienes-somos {
            text-align: center;
            img {
                width: auto;
                height: 400px;
                border-radius: 2px;
            
            }
        }
        .valores{
            padding-bottom: 5vh;
            li {
                font-weight: 500;
                font-size: 1.5em;
            }
            
        }
        
        
    }
}

.servicios-fixsell {
    background-color: #172A3A;
}
.titulo-servicio {
    padding-top: 5vh;
    padding-left: 5vw;
    .titulo-columna-servicio {
        padding: 5vh 0vw 5vh 0vw;
        h1 {
            text-align: center;
            font-size: 4em;
            color: white;
        }
    }
    
}
.servicios {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    padding-top: 5vh;
    .tecnico-texto {
        padding-right: 3vw;
        h2 {
            color: white;
        }
        p {
            font-size: 1.2em;
            color: white;
        }
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 2px;
    }
    
    // .service-card {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    //     opacity: 1;
    //     transform: translate3d(0px, -20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    //     transform-style: preserve-3d;
    //     width: 300px;
    //     height: 400px;
    //     margin: 1.5%;
    //     padding: 20px;
    //     border-radius: 2px;
    //     background-color: #fff;
    //     -webkit-transition: all 200ms cubic-bezier(.164, .317, .38, .767);
    //     transition: all 200ms cubic-bezier(.164, .317, .38, .767);
    //     text-align:center;

    //     .image-icon {
    //         display: inline-block;
    //         align-self: center;
    //     }
    //     .card-title {
    //         display: inline-block;
    //         margin-top: 40px;
            
    //     }
    //     h2 {
    //         color: #4281A4;
    //     }
    //     img {
    //         width: 80px;
    //         height: auto;
    //         border-radius: 2px;
    //     }
    //     p {
    //         font-size: 1.2em;
    //         margin-top: 30px;
    //         margin-bottom: 30px;
    //         color: #666;
    //     }
    // }
    // .service-card:hover {
    //     box-shadow: 10px 10px 15px -1px rgba(0, 0, 0, 0.21);
    //     opacity: 1;
    //     -webkit-backface-visibility: visible;
    //     backface-visibility: visible;
    //     -webkit-perspective: 0px;
    //     perspective: 0px;
    //     -webkit-transform: perspective(0px);
    //     transform: perspective(0px);
    // }
}

.footer-distributed {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 5vh 5vw 0vh 5vw;
    
    .wrapper {
        display: flex;
    // justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    

    .footer-left {

        .footer-links {
            display: flex;
            flex-direction: column;
            a {
                color: #781F41;
            }
            
        }
    }

    .footer-center {
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        span {
            font-weight: 400;
        }
        .footer-icon-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            .location {
                font-size: 32px;
            }
            i {
                font-size: 24px;
                padding-right: 30px;
            }

            a {
                color: #781F41;
            }
        }   
    }

    .footer-right {
        text-align: right;
        i {
            color: #781F41;
            font-size: 1.5em;
            padding: 20px;
        }
    }

    .footer-company-name {
        
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .banner-titulo {
           
        font-size: 1rem;
       
    }

    .sub-titulo {
        color: gray;
        font-size: .5rem;
        font-weight: 400;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .banner-titulo {
           
        font-size: 2rem;
        
       
    }

    .sub-titulo {
        
        font-size: 1rem;
        
        
    }
    .clientes {
        
        img {
            
            transition: opacity .2s ease-in;
            width: 100px;
            height: auto;
        }
    
    }
    
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .banner-titulo {
           
        font-size: 3rem;
       
    }

    .sub-titulo {
        color: gray;
        font-size: 1rem;
        font-weight: 400;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .banner-titulo {
           
        font-size: 4rem;
       
    }

    .sub-titulo {
        color: gray;
        font-size: 1.5rem;
        font-weight: 400;
    }
}
